html { background-image: url(../client-blog/images/world-map-jpeg.afphoto\ 22-35-13-510.jpg);
       background-size: cover;
    }


h1 { text-transform: uppercase;
    text-align: center;
    font-size: 64px;
    font-family:'Playfair Display', serif;
    color: beige;
    background: #008000;
}


.button-container { display: flex;
                    justify-content: center;

}

.button{ 
        text-align: center;
        border: 5px solid #008000;            
        padding: 10px 21px;
        display: inline-block;
        font-size: 10px;
        margin: 4px 2px;
        border-top-left-radius: 52px;
        border-top-right-radius: 52px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 52px;
}

footer{font-size: x-small;}